# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mgkang.DI-SOLUTION\Desktop\KANG\PYcharm_project\gitlab\yolo_ocr\com_docker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
